body {
	
	/*background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/62/Starsinthesky.jpg");*/
	
	background-color: #66B9Bf; 
}
#apps {
	background-color: #66B9Bf;
}
.jumbotron {
	border-style: solid;
	border-width: 3px;
	border-color: #fbdd4a;
}
.container {
	margin-top:10px;
	background-color: #E37222;
}
.navbar-brand {
	float: left;

}
 .navbar ul {
	float: right;
 }

#login {
	/*background-color: #e1f7d5;*/
	text-align: center;
}

#logout {
	/*background-color: #e1f7d5;*/
	text-align: center;
}

#your_stuff {
	text-align: center;
	/*background-color: #f1cbff;*/
}

#home {
	/*background-color: #e1f7d5;*/
	text-align: center;
	/*flex: 1;*/
}

#register {

	/*background-color: #f1cbff;*/
	text-align: center;
}

#navbar {
	margin-top: 10px;
	background-color: #66B9Bf;
	border-style: solid;
	border-width: 3px;
	border-color: #fbdd4a;
	/*display: flex;*/
	/*justify-content: space-between;*/
}

/*flex-grow, flex-shrink and flex-basis
*//*
flex-start
flex-end
center
space-between
space-around
space-evenly*/

/*#navbar > div {
	flex: 1;
	padding: 10px;
}*/
