<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	{{ JSGlue.include() }}

  <script>"https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js"</script>

	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  ></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
  <link href="../static/styles.css" rel="stylesheet"/>
	<title>Countdown App</title>
</head>
<body>
<div class="container">
	<nav class="navbar navbar-default" id="navbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ url_for('home') }}">Countdown</a>
			</div>
			{% if session.user_id %}
				<ul class="nav navbar-nav">
					<li class="active" id="your_stuff"><a href="{{ url_for('index') }}">Your Apps</a></li>
					<li id="logout"><a href="{{ url_for('logout') }}">Logout</a></li>
				</ul>
			{% else %}
				<ul class="nav navbar-nav">
					<li id="login"><a href="{{ url_for('login') }}">Login</a></li>
					<li id="register"><a href="{{ url_for('register') }}">Sign up</a></li>
				</ul>
				{% endif %}
		</div>
	</nav>
	<div class="jumbotron">
		<main>
			{% block main %}
			<h1>Welcome to Countdown</h1>
			<hr>
			<form action="" method="post">
				<button class="btn btn-block btn-primary" name="foo" value="Get Started">Get Started</button>
			</form>
			{{ arr }}
			{% endblock %}
		</main>
	</div>
</div>
 <script src="../static/scripts.js"></script>
</body>
</html>