{% extends "layout.html" %}

{% block main %}
<h1>Already have an account?</h1>
<div class="row centered-form">
	<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Log in</h3>
				<div class="panel-body">
					<form role="form" name="form" method="post">
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="email" name="email" id="email" placeholder="Email">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="password" name="password" id="password" placeholder="Password">
								</div>
							</div>
						</div>
						<input type="submit" value="Log in"  class="btn btn-info btn-block">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}